{
    "instance_setup": {
        "chef": {
            "run_list_step_1": "recipe[genomics::default]",
            "run_list_step_2": "recipe[globus::globus_shared_endpoint], recipe[genomics::_galaxy], recipe[genomics::_monitor]"
        }
    },
    "current_release": "6.0.0",
    "galaxy": {
        "admin_users": "arodri7@globusid.org,madduri@globusid.org,sulakhe@globusid.org,markxiao@globusid.org,arodri7@globusonline.org,madduri@globusonline.org,sulakhe@globusonline.org,markxiao@globusonline.org"
    }
}
