{
    "5.2": {
        "galaxy_repo_branch": "GG-v5.2",
        "snapshots": {
            "galaxyTools": "snap-072da10336656112d",
            "galaxyIndices": "snap-04f2a8ad156ab34b8"
        }
    },
    "5.2.1": {
        "galaxy_repo_branch": "GG-v5.2.1",
        "snapshots": {
            "galaxyTools": "snap-072da10336656112d",
            "galaxyIndices": "snap-04f2a8ad156ab34b8"
        }
    },
}