{
    "5.1.2": {
        "galaxy_repo_commit_hash": "1748cc0f8f5ff8b2ac0f97f42fbe212fe2d359e9",
        "snapshots": {
            "galaxyTools": "snap-08ad9676551243158",
            "galaxyIndices": "snap-071db4a2a63320afa"
        }
    },
    "5.2.0": {
        "galaxy_repo_commit_hash": "9d016389bad18bbd83b0dc9d4e27259825138867",
        "snapshots": {
            "galaxyTools": "snap-072da10336656112d",
            "galaxyIndices": "snap-04f2a8ad156ab34b8"
        }
    },
    "5.2.1": {
        "galaxy_repo_commit_hash": "550f4957537ddb457b61b3e876a750359490cad6",
        "snapshots": {
            "galaxyTools": "snap-072da10336656112d",
            "galaxyIndices": "snap-04f2a8ad156ab34b8"
        }
    }
}